@model CarRentalSOA.RentCar.MvcWebUI.Models.AracBilgiListViewModel

@{ 
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>title</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Arac ID </td>
                <td>Arac Markası </td>
                <td>Arac Modeli </td>
                <td>Gereken Ehliyet Yaşı </td>
                <td>Minimum Yaş </td>
                <td>Günlük KM Sınırı</td>
                <td>Anlık KM</td>
                <td>Airbag Var mı?</td>
                <td>Bagaj Hacmi </td>
                <td>Koltuk Sayısı</td>
                <td>Günlük Kira Bedeli</td>

            </tr>
            @foreach (var a in Model.aracbilgisi)
    {
            <tr>
                <td>@a.aracID </td>
                <td>@a.aracMarkasi </td>
                <td>@a.aracModeli </td>
                <td>@a.gerekenEhliyetYasi </td>
                <td>@a.minimumYas </td>
                <td>@a.gunlukKmSinir</td>
                <td>@a.anlikKm</td>
                <td>@a.airbag </td>
                <td>@a.bagajHacmi</td>
                <td>@a.koltukSayisi</td>
                <td>@a.gunlukFiyat</td>

            </tr>


}
        </table>
    </div>

</body>
</html>